@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Giarek';
  src: url('../fonts/Giarek-DemoVersion-Regular.otf') format('opentype'),
    url('../fonts/Giarek-DemoVersion-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
@layer components {
  .title {
    font-family: 'Giarek', sans-serif;
    @apply text-midnight text-4xl lg:text-[64px] max-w-full lg:max-w-[750px] leading-[50px] lg:leading-[80px] mb-5;
  }
  .container {
    @apply w-[1280px] max-w-full mx-auto px-5 py-20;
  }
  .button {
    @apply text-base px-12 md:px-16 py-3 text-white bg-primary rounded-[100px] hover:bg-primary/70 transform active:translate-y-[2px];
  }
}
